@use "../../../scss/color-palette" as colors;

form {
  display: grid;
  padding: 8rem 2.5rem 4rem;

  .row-direction {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}

@media (min-width: 992px) {
  form {
    height: 100%;
    align-content: center;
    padding-inline: 25rem;
  }
}
