<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <ng-container *ngFor="let formEl of formElDirection">
    <div *ngIf="formEl.direction === 'column'" class="column-direction">
      <app-dynamic-form-el
        *ngFor="let formElement of formEl.formElements"
        [formEl]="formElement"
        [form]="form"
      ></app-dynamic-form-el>
    </div>
    <div *ngIf="formEl.direction === 'row'" class="row-direction">
      <app-dynamic-form-el
        *ngFor="let formElement of formEl.formElements"
        [formEl]="formElement"
        [form]="form"
      ></app-dynamic-form-el>
    </div>
  </ng-container>

  <ui-primary-btn
    [btnText]="'Confrim'"
    [disabled]="!form.valid"
  ></ui-primary-btn>
</form>
