<section class="container">
  <div class="card card-back">
    <img
      src="../../../assets/images/bg-card-back.png"
      alt="credit card back view"
    />
    <span *ngIf="form.value.cvc === ''">{{ cardsInitialValue.cvc }}</span>
    <span *ngIf="form.value.cvc !== ''">{{ form.value.cvc }}</span>
  </div>
  <div class="card card-front">
    <img
      src="../../../assets/images/bg-card-front.png"
      alt="credit card front view"
    />
    <img
      class="card-front__logo"
      src="../../../assets/images/card-logo.svg"
      alt="credit-card-logo"
    />
    <span *ngIf="form.value.cardNumber === ''">{{
      cardsInitialValue.cardNumber
    }}</span>
    <span *ngIf="form.value.cardNumber !== ''">{{
      form.value.cardNumber
    }}</span>
    <div class="card-front__name-and-date">
      <span *ngIf="form.value.cardHolderName !== ''">
        {{ form.value.cardHolderName }}</span
      >
      <span *ngIf="form.value.cardHolderName === ''">
        {{ cardsInitialValue.cardholderName }}</span
      >
      <span *ngIf="form.value.expDate !== '' || form.value.expDate !== ''"
        >{{ form.value.expDate }}/{{ form.value.date }}</span
      >
      <span *ngIf="form.value.expDate === '' || form.value.expDate === ''"
        >{{ cardsInitialValue.expDate }}/{{ cardsInitialValue.mmyy }}</span
      >
    </div>
  </div>
</section>
