@use "../../../scss/color-palette" as colors;

input.ng-touched.ng-invalid {
  outline: 2px solid colors.$clr-primary-400;
  border: none;
}

label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-top: 2rem;
}

input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid colors.$clr-neutral-200;
}

input:focus {
  outline: 2px solid;
  outline-color: colors.$primary-clr-gradient;
}

::placeholder {
  color: colors.$clr-neutral-200;
}

.error-message {
  color: colors.$clr-primary-400;
  font-size: 1.5rem;
  margin-top: 1rem;
  animation: error 0.3s ease-in-out;
}

@keyframes error {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
