$bg-main-mobile: url("../assets/images/bg-main-mobile.png");
$bg-main-desktop: url("../assets/images/bg-main-desktop.png");
$credit-card-front: url("../assets/images/bg-card-front.png");
$credit-card-back: url("../assets/images/bg-card-back.png");
